.row {
    margin: 0 0 15px;
  }
.col-2 {
  width: calc(200%/12);
  display: inline-block;
}
.col-3 {
  width: calc(300%/12);
  display: inline-block;
}
.col-4 {
  width: calc(400%/12);
  display: inline-block;
}
.col-5 {
  width: calc(500%/12);
  display: inline-block;
}
.col-6 {
  width: calc(600%/12);
  display: inline-block;
}
.col-7 {
  width: calc(700%/12);
  display: inline-block;
}
.col-8 {
  width: calc(800%/12);
  display: inline-block;
}
.col-9 {
  width: calc(900%/12);
  display: inline-block;
}
.col-10 {
  width: calc(1000%/12);
  display: inline-block;
}
.col-11 {
  width: calc(1100%/12);
  display: inline-block;
}